/* #header{
    position: relative;
} */

.btn{
    background-color: red !important;
    color: white;
}

.line{
    color: red;
}

.red{
    color: red;
}

.black{
    background-color: black;
}

.tan{
    background-color: #dbc5a3;
}

.wood{
    background-image: url("./img/wood2.jpg");
}

/* .bd-black{
    border: 2px solid red;
} */

