.border{
    border-color: #ff0102 !important;
}

.border-red{
    border-color: #ff0102 !important;
}

#border-width{
    max-width: 850px;
    
}

.text-red{
    color: red;
}

/* span::after {content: "Ⓥ"; color: green !important;} */